@page
@using Meals.ViewModels
@model NewIngredientModel
@{
}

<html>
    <head>
        <title>New Ingredient</title>
    </head>
    <body>
        <form method="post">
            <fieldset>
                <legend>New Ingredient</legend>
                <div>
                    <label for="Name">Ingredient:</label>
                    <input type="text" name="Name" value="" placeholder="Ingredient Name" />
                </div>
                <div>
                    <label for="StoreId">Store:</label>
                    <select>
                        @foreach(var store in Model.Stores)
                        {
                            <option value="@store.Id">@store.Name</option>
                        }
                    </select>
                </div>
                <div>
                    <input type="submit" value="Submit" class="submit" />
                </div>
            </fieldset>
        </form>
    </body>
</html>
