@model Meals.Models.ShoppingListRecipe

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>ShoppingListRecipe</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group row">
                <label asp-for="ShoppingList" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <select asp-for="ShoppingListId" class="form-control" asp-items="ViewBag.ShoppingListId"></select>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="Recipe" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <select asp-for="RecipeId" class="form-control" asp-items="ViewBag.RecipeId"></select>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="Quantity" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <input asp-for="Quantity" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

