@model Meals.Models.ShoppingListRecipe

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>ShoppingListRecipe</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ShoppingListId" />
            <input type="hidden" asp-for="RecipeId" />
            <label asp-for="ShoppingList.Name">@Model.ShoppingList.Name</label>:
            <label aps-for="Recipe.Name">@Model.Recipe.Name</label>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

