
@{
    ViewData["Title"] = "Meals";
}

<h2>@ViewData["Title"]</h2>

<ul>
    <li>
        <a href="/Stores">Stores</a>
    </li>
    <li>
        <a href="/Ingredients">Ingredients</a>
    </li>
    <li>
        <a href="/Recipes">Recipes</a>
    </li>
    <li>
        <a href="/RecipeIngredients">Recipe Ingredients</a>
    </li>
    <li>
        <a href="/ShoppingLists">Shopping Lists</a>
    </li>
    <li>
        <a href="/ShoppingListRecipes">Shopping List - Recipes</a>
    </li>
</ul>

